
<div class="container mt-2">
<div class="alert alert-success">
  <h1>人の検索</h1>
</div>

<div class="card card-body bg-light mb-4">
  <%= form_with method: 'get', local: true do |f| %>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">名前</label>
      <%= f.text_field :character_name, value: @params[:character_name], id: :characterName, class: ['auto_complete','col-sm-8','form-control'] %><br>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Twitter</label>
      <%= f.text_field :work_name, value: @params[:work_name], id: :workName, class: ['auto_complete', 'col-sm-8', 'form-control'] %><br>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">都道府県</label>
      <%= f.select :factory_id, options_for_select([''] + Factory.all.map{|e| [e.name, e.id]}, @params[:factory_id]), {}, {id: :factoryId, class:['auto_complete', 'col-sm-8', 'form-control']} %><br>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">年齢</label>
      <%= f.select :factory_id, options_for_select([''] + Factory.all.map{|e| [e.name, e.id]}, @params[:factory_id]), {}, {id: :factoryId, class:['auto_complete', 'col-sm-8', 'form-control']} %><br>
    </div>
    <div class="row">
      <%= f.submit '検索', name: nil, class: ['btn', 'col-sm-2', 'offset-sm-4', 'btn-primary', 'mr-2'] %>
      <%= link_to '新規登録', new_kigurumi_path, class: ['btn', 'col-sm-2', 'btn-danger', 'mr-2'] %>
    </div>
  <% end %> 
</div>
</container>

<div id="searchResult">
<div class="row">
  <% @kigurumis.each do |kigurumi| %>
    <%= render :partial =>"kigurumi_card", :locals => {kigurumi: kigurumi} %>
  <% end %>
</div>
</div>

<script>
autoComplete.characterWorkChain({
character: '#characterName.auto_complete',
work: '#workName.auto_complete',
characterUrl: '<%= auto_complete_characters_path %>', 
characterVal: 'name',
workUrl: '<%= auto_complete_works_url %>',
workVal: 'name',
characterDisplayVal: 'name_with_work'
});
</script>