<%= render 'shared/header' %>


<div class="container mt-2">
  <div class="row mb-2">
    <div class="col-lg-12">
      <a href="<%= edit_person_path(@person) %>" class="btn btn-primary col-lg-4 offset-lg-4 mb-2">情報を編集する</a>
    </div>
  <table class="table">
    <tr>
      <th style="width:40%">名前</th>
      <td style="width:60%"><%= @person.name %></td>
    </tr>
    <tr>
      <th>Twitter</th>
      <td><a href="<%= "https://twitter.com/#{@person.twitter}" %>"><%= "@#{@person.twitter}" %></a></td>
    </tr>
    <tr>
      <th>他の名義</th>
      <td><%= @person.other_name %></td>
    </tr>
    <tr>
      <th>都道府県・国</th>
      <td><%= @person.prefecture&.name %></td>
    </tr>
    <tr>
      <th>出身都道府県・国</th>
      <td><%= @person.home_prefecture&.name %></td>
    </tr>
    <tr>
      <th>誕生年</th>
      <td><%= @person.birth_year_dsp %></td>
    </tr>
    <tr>
      <th>誕生日</th>
      <td><%= @person.birthday_dsp %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @person.age %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @person.remarks %></td>
    </tr>
    <tr>
      <th>着ぐるみの数</th>
      <td>          
        <%= @person.kigurumis.count %>
      </td>
    </tr>
  </table>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <a href="<%= new_kigurumi_path + "?name=#{@person.name}&twitter=#{@person.twitter}" %>" class="btn btn-primary col-lg-4 offset-lg-4 mb-2">新しい着ぐるみを追加</a>
    </div>
  </div>
  <div class="row">
    <% @person.kigurumis.each do |kigurumi| %>
      <%= render :partial =>"kigurumi_card", :locals => {kigurumi: kigurumi} %>
    <% end %>
  </div>
</div>