<div class="col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header"><a href="<%= person_path(kigurumi.owner) %>"><%= kigurumi.owner&.name_with_twitter %></a></h5>
    <div class="card-body clickable" data-href="<%= kigurumi_path(kigurumi) %>">
        <h5><a class="text-primary"><%= kigurumi.character&.name_with_work || '？' %></a></h5>
        <% if kigurumi.kigurumi_images.any? %>
        　<div class="tweet-container" data-tweet-id="<%= kigurumi.kigurumi_images[0]&.tweet_id %>"></div>
        <% else %>
          <div class="alert alert-danger">No Image</div>
        <% end %>
    </div>
  </div>
</div>