<%= render 'shared/header' %>

<div class="container mt-2 mb-2">
  <div class="alert alert-danger col-lg-8 offset-lg-2">
    <h5 class="text-center">着ぐるみの編集</h5>
  </div>
  <div class="card card-body col-lg-8 offset-lg-2 bg-light">
    <%= form_with model: @form, url: @url, method: @method, local: true, html: {autocomplete: 'off'} do |f| %>
      <%= f.hidden_field :id %>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>所有者</b></label>
        <div class="input-group col-sm-8 p-0">
          <%= f.text_field :owner_name, id: :personName, class: ['auto_complete', 'form-control'] %>
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <%= f.text_field :owner_twitter,id: :twitter, class: ['auto_complete', 'form-control'] %>
        </div>
        <% if @form.errors[:owner_name].present? %>
          <div class="col-sm-8 offset-sm-4">          
            <span class="text-danger"><%= @form.errors[:owner_name][0] %></span> 
          </div>
        <% end %>
        <% if @form.errors[:owner_twitter].present? %>
          <div class="col-sm-8 offset-sm-4">          
            <span class="text-danger"><%= @form.errors[:owner_name][0] %></span> 
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if @method == 'post' %>
          <div id="kigurumis" class="col-sm-8 offset-sm-4 alert alert-success">
            <h5>既に登録されている着ぐるみ</h5>
            <ul></ul>
          </div>
        <% end %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>キャラクター名</b></label>
        <%= f.text_field :character_name, id: :characterName, class: ['auto_complete', 'col-sm-8', 'form-control'] %><br>
        <% if @form.errors[:character_name].present? %>
        <div class="col-sm-8 offset-sm-4">          
          <span class="text-danger"><%= @form.errors[:character_name][0] %></span> 
        </div>
      <% end %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>作品名</b></label>
        <div class="input-group col-sm-8 p-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <%= f.check_box :is_original, id: :isOriginal, as: :boolean %>
              <label for="isOriginal" class="ml-2 mt-0 mb-0 mr-0">オリジナル</label>
            </div>
          </div>
          <%= f.text_field :work_name,  id: :workName, class: ['auto_complete', 'form-control'] %>
        </div>
      </div>
      <div class="form-group row">
        <label  class="col-sm-4 control-label"><b>工房</b></label>
        <%= f.collection_select :factory_id, Factory.all, :id, :name, {include_blank: true}, {id: :factoryId, class: ['form-control', 'col-sm-8']} %><br>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>製作者</b></label>
        <div class="input-group col-sm-8 p-0">
          <%= f.text_field :customizer_name, id: :customizerName, class: ['auto_complete', 'form-control'] %>
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <%= f.text_field :customizer_twitter, id: :customizerTwitter, class: ['auto_complete', 'form-control'] %>
        </div>
        <% if @form.errors[:customizer_name].present? %>
        <div class="col-sm-8 offset-sm-4">          
          <span class="text-danger"><%= @form.errors[:customizer_name][0] %></span> 
        </div>
        <% end %>
        <% if @form.errors[:customizer_twitter].present? %>
          <div class="col-sm-8 offset-sm-4">          
            <span class="text-danger"><%= @form.errors[:customizer_twitter][0] %></span> 
          </div>
        <% end %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>以前の所有者</b></label>
        <div class="input-group col-sm-8 p-0">
          <%= f.text_field :previous_owner_name, id: :previousOwnerName, class: ['auto_complete', 'form-control'] %>
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <%= f.text_field :previous_owner_twitter, id: :previousOwnerTwitter, class: ['auto_complete', 'form-control'] %>
        </div>
        <% if @form.errors[:previous_owner_name].present? %>
        <div class="col-sm-8 offset-sm-4">          
          <span class="text-danger"><%= @form.errors[:previous_owner_name][0] %></span> 
        </div>
        <% end %>
        <% if @form.errors[:previous_owner_twitter].present? %>
          <div class="col-sm-8 offset-sm-4">          
            <span class="text-danger"><%= @form.errors[:previous_owner_twitter][0] %></span> 
          </div>
        <% end %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>お披露目年</b></label>
        <%= f.text_field :show_year, class: ['col-sm-8', 'form-control'] %><br>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>備考</b></label>
        <%= f.text_area :remarks, class: ['col-sm-8', 'form-control'] %><br>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>髪の色</b></label>
        <%= f.select :hair_color, options_for_select(Kigurumi.hair_colors, @form.hair_color), {include_blank: true}, class: ['col-sm-8', 'form-control'] %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>髪の長さ</b></label>
        <%= f.select :hair_length, options_for_select(Kigurumi.hair_lengths, @form.hair_length), {include_blank: true}, class: ['col-sm-8', 'form-control'] %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>口開き/口閉じ</b></label>
        <%= f.select :mouth_open, options_for_select(Kigurumi.mouth_opens, @form.mouth_open), {include_blank: true}, class: ['col-sm-8', 'form-control'] %>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>画像</b></label>
        <div class="col-sm-8 p-0">
          <% (0..2).each do |i| %>
            <%= f.text_field :kigurumi_images, name: 'kigurumi_form[kigurumi_images][]', value: @form.kigurumi_images[i], class: 'form-control'  %>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.submit '登録', class:'btn btn-info btn-block col-sm-3 offset-sm-4' %>
        <% if @method == 'put' %>
          <input type="button" id="destroy" class="btn btn-danger col-sm-2 ml-2" value="削除">
          <%= f.submit '本当に削除', id: 'destoryConfirm', class:'d-none btn btn-danger col-sm-3' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
var KIGURUMI_EDIT = KIGURUMI_EDIT || {};
KIGURUMI_EDIT.toggleWork = () => {
  if($('#isOriginal').prop('checked')){
    $('#workName').attr('readonly', true);
    $('#workName').val('');
  } else {
    $('#workName').attr('readonly', false);
  }
}

$('#kigurumis').css('display', 'none');

$('#destroyConfirm').on('click', function(){
  $(this).addClass('d-none');
  $('#destoryConfirm').removeClass('d-none');
});

$('#isOriginal').on('change', KIGURUMI_EDIT.toggleWork);

// 初期化
KIGURUMI_EDIT.toggleWork();

autoComplete.personChain({
  name: '#personName.auto_complete',
  twitter: '#twitter.auto_complete',
  nameUrl: '<%= auto_complete_people_path %>',
  nameVal: 'name',
  twitterUrl: '<%= auto_complete_twitter_people_path %>',
  twitterVal: 'twitter',
  displayVal: 'name_with_twitter',
  onSelected: function(name, twitter){
    $.get({
      url: '<%= kigurumis_people_path %>',
      dataType: 'json',
    data: {
      name: name.val(),
      twitter: twitter.val()
  }
  }).done(function(data){
    $('#kigurumis li').remove();
    $.each(data, function(id, kigurumi){
      kigurumi.character = kigurumi.character || {name_with_work: '？'};
      $('#kigurumis ul').append($('<li>').text(kigurumi.character.name_with_work));
    });
    $('#kigurumis').slideUp('slow');
    $('#kigurumis').slideDown('slow');
  });
  }
});

autoComplete.personChain({
  name: '#previousOwnerName.auto_complete',
  twitter: '#previousOwnerTwitter.auto_complete',
  nameUrl: '<%= auto_complete_people_path %>',
  nameVal: 'name',
  twitterUrl: '<%= auto_complete_twitter_people_path %>',
  twitterVal: 'twitter',
  displayVal: 'name_with_twitter',
  onSelected: function(name, twitter){
    $.get({
      url: '<%= kigurumis_people_path %>',
      dataType: 'json',
      data: {
        name: name.val(),
        twitter: twitter.val()
      }  
    });
  }
});

autoComplete.personChain({
  name: '#customizerName.auto_complete',
  twitter: '#customizerTwitter.auto_complete',
  nameUrl: '<%= auto_complete_people_path %>',
  nameVal: 'name',
  twitterUrl: '<%= auto_complete_twitter_people_path %>',
  twitterVal: 'twitter',
  displayVal: 'name_with_twitter',
  onSelected: function(name, twitter){
    $.get({
      url: '<%= kigurumis_people_path %>',
      dataType: 'json',
      data: {
        name: name.val(),
        twitter: twitter.val()
      }
    });
  }
});

autoComplete.characterWorkChain({
  character: '#characterName.auto_complete',
  work: '#workName.auto_complete',
  characterUrl: '<%= auto_complete_characters_path %>', 
  characterVal: 'name',
  workUrl: '<%= auto_complete_works_path %>',
  workVal: 'name',
  characterDisplayVal: 'name_with_work'
});
</script>