$('#search_result').empty();
$('#search_result').append('<thead><th>所有者名</th><th>キャラクター名</th><th>作品名</th><th>工房</th></thead>');
<% @kigurumis.each do |kigurumi| %>
  $('#search_result').append(
    '<tr data-href="<%= kigurumi_path(kigurumi)%>" class="clickable"><td><%= kigurumi.owner&.name %></td>' +
    '<td><%= kigurumi.character&.name %></td>' +
    '<td><%= kigurumi.character&.work&.name %></td>' +
    '<td><%= kigurumi.factory&.name %></td>' +
    '</tr>');
<% end %>