<div class="container mt-2">
  <div class="row mb-2">
    <a href="<%= edit_kigurumi_path(@kigurumi) %>" class="btn btn-primary col-sm-4 offset-sm-4">情報を編集する</a>
  </div>
  <table class="table">
  <tr>
    <th>キャラクター</th>
    <td><%= @kigurumi.character.name_with_work %></td>
  </tr>
    <tr>
      <th>所有者</th>
      <td><%= @kigurumi.owner&.name_with_twitter %></td>
    </tr>
    <tr>
      <th>工房</th>
      <td><%= @kigurumi.factory&.name %></td>
    </tr>
    <tr>
      <th>製作者</th>
      <td><%= @kigurumi.customizer&.name_with_twitter %></td>
    </tr>
    <tr>
      <th>以前の所有者</th>
      <td><%= @kigurumi.previous_owner&.name_with_twitter %></td>
    </tr>
    <tr>
    <th>お披露目年</th>
      <td><%= @kigurumi.show_year %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @kigurumi.remarks %></td>
    </tr>
  </table>
  <div class="mx-auto" style="width:70%;min-width:450px;" id="tweet-container1"></div>
  <div class="mx-auto" style="width:70%;min-width:450px;" id="tweet-container2"></div>
  <div class="mx-auto" style="width:70%;min-width:450px;" id="tweet-container3"></div>
</div>

<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script>
  <%  @kigurumi.kigurumi_images.each_with_index do |image, i| %>
    twttr.widgets.createTweet(
      '<%= image.tweet_id %>', 
      $('#tweet-container' + <%= i+1 %>).get(0),
      {
        lang: 'ja'
      }
    );
  <% end %>
</script>