<%= render 'shared/header' %>

<div class="container mt-2">
  <div class="row mb-2">
    <div class="col-lg-6">
      <a href="<%= edit_kigurumi_path(@kigurumi) %>" class="btn btn-primary col-lg-4 offset-lg-4 mb-2">情報を編集する</a>
      <table class="table">
        <tr>
          <th>キャラクター</th>
          <td><%= @kigurumi.character&.name_with_work || '？' %></td>
        </tr>
        <tr>
          <th>所有者</th>
          <td><%= link_to @kigurumi.owner&.name_with_twitter,  person_path(@kigurumi.owner), data: {"turbolinks" => false} %></td>
        </tr>
        <tr>
          <th>工房</th>
          <td><%= @kigurumi.factory&.name %></td>
        </tr>
        <tr>
          <th>製作者</th>
          <td><%= @kigurumi.customizer&.name_with_twitter %></td>
        </tr>
        <tr>
          <th>以前の所有者</th>
          <td><%= @kigurumi.previous_owner&.name_with_twitter %></td>
        </tr>
        <tr>
        <th>お披露目年</th>
          <td><%= @kigurumi.show_year %></td>
        </tr>
        <tr>
          <th>備考</th>
          <td><%= @kigurumi.remarks %></td>
        </tr>
        <tr>
          <th>髪の色</th>
          <td><%= @kigurumi.hair_color %></td>
        </tr>
        <tr>
          <th>髪の長さ</th>
          <td><%= @kigurumi.hair_length %></td>
        </tr>
        <tr>
          <th>口開き/口閉じ</th>
          <td><%= @kigurumi.mouth_open %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td>
          <%= @kigurumi.kigurumi_images[3] %>
            <% if @kigurumi.kigurumi_images[0].present? %>
              <%= link_to '1', @kigurumi.kigurumi_images[0].url %>
            <% end %>  
            <% if @kigurumi.kigurumi_images[1].present? %>
              <%= link_to '2', @kigurumi.kigurumi_images[1].url %>
              <% end %>  
            <% if @kigurumi.kigurumi_images[2].present? %>
              <%= link_to '3', @kigurumi.kigurumi_images[2].url %>
            <% end %>
          </td>
      </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <% if @kigurumi.kigurumi_images.empty? %>
        <div class="alert alert-danger p-auto"">
          <h5 class="text-center">No Image</h6>
        </div>
      <% end %>
      <div class="tweet-container" data-tweet-id="<%= @kigurumi.kigurumi_images[0]&.tweet_id %>"></div>
      <div class="tweet-container" data-tweet-id="<%= @kigurumi.kigurumi_images[1]&.tweet_id %>"></div>
      <div class="tweet-container" data-tweet-id="<%= @kigurumi.kigurumi_images[2]&.tweet_id %>"></div>
    </div>
  </div>
</div>