<h1>Kigurumi</h1>

<%= form_with url:@method, local: true, html: {autocomplete: 'off'} do |f| %>
  <label>名前</label>
  <%= f.text_field :person_name, id: :person_name %><br>
  <label>Twitter</label>
  @<%= f.text_field :twitter, id: :twitter %><br>

  <div id="kigurumis">
    <p>すでに登録されている着ぐるみ</p>
    <ul></ul>
  </div>

  <label>キャラクター名</label>
  <%= f.text_field :character_name, id: :character_name %><br>
  <label>作品名</label>
  <%= f.text_field :work_name, id: :work_name %><br>
  <label>工房</label>
  <%= f.select :factory_id, [''] + Factory.all.map{|e| [e.name, e.id]}, id: :factory_id %><br>
  <label>素体</label>
  <%= f.select :base_id, [], id: :base_id %><br>
  <label>以前の所有者</label>
  <%= f.text_field :previous_person_name, id: :previous_owner %><br>

  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]' %><br>
  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]'  %><br>
  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]'  %><br>

  <%= f.submit '送信' %>
<% end %>

<script>
$(function(){
  <%= render partial: 'person_twitter_auto_complete' %>
  <%= render partial: 'character_work_auto_complete' %>
  <%= render partial: 'factory_base_select' %>
}
</script>
