<h1>Kigurumi</h1>

<%= form_with url:@method, local: true, html: {autocomplete: 'off'} do |f| %>
  <label>名前</label>
  <%= f.text_field :person_name, id: :person_name %><br>
  <label>Twitter</label>
  @<%= f.text_field :twitter, id: :twitter %><br>

  <div id="kigurumis">
    <p>すでに登録されている着ぐるみ</p>
    <ul></ul>
  </div>

  <label>キャラクター名</label>
  <%= f.text_field :character_name, id: :character_name %><br>
  <label>作品名</label>
  <%= f.text_field :work_name, id: :work_name %><br>
  <label>工房</label>
  <%= f.select :factory_id, [''] + Factory.all.map{|e| [e.name, e.id]}, id: :factory_id %><br>
  <label>素体</label>
  <%= f.select :base_id, [], id: :base_id %><br>
  <label>以前の所有者</label>
  <%= f.text_field :previous_person_name, id: :previous_owner %><br>

  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]' %><br>
  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]'  %><br>
  <label>画像1</label>
  <%= f.text_field 'kigurumi_images[]'  %><br>

  <%= f.submit '送信' %>
<% end %>

<script>
$(function(){
  $('#person_name').autocomplete({
    source: '/person/auto_complete.json',
    delay: 100,
    minLength: 1,
    focus: function(event, ui){
      $('#person_name').val(ui.item.name);
      if($('#twitter').val() === '') $('#twitter').val(ui.item.twitter);
      return false;
    },
    select: function(event, ui){
      $('#person_name').val(ui.item.name);
      if($('#twitter').val() === '') $('#twitter').val(ui.item.twitter);
      $.get({
        url: '/person/kigurumis.json',
        dataType: 'json',
        data: {
          name: ui.item.name,
          twitter: $('#twitter').val()
        }
      }).done(function(data){
        $('#kigurumis li').remove();
        $.each(data, function(id, kigurumi){
          $('#kigurumis ul').append($('<li>').text(kigurumi.character.name));
        })
      });
      return false;
    }
  }).data("ui-autocomplete")._renderItem = function(ul, item) {
      return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name_with_twitter + "</a>").appendTo(ul);
  };

  $('#twitter').autocomplete({
    source: '/person/auto_complete_twitter.json',
    delay: 100,
    minLength: 1,
    focus: function(event, ui){
      $('#twitter').val(ui.item.twitter);
      if($('#person_name').val() === '') $('#person_name').val(ui.item.name);
      return false;
    },
    select: function(event, ui){
      $('#twitter').val(ui.item.twitter);
      if($('#person_name').val() === '') $('#person_name').val(ui.item.name);
      $.get({
        url: '/person/kigurumis.json',
        dataType: 'json',
        data: {
          name: ui.item.name,
          twitter: $('#twitter').val()
        }
      }).done(function(data){
        $('#kigurumis li').remove();
        $.each(data, function(id, kigurumi){
          $('#kigurumis ul').append($('<li>').text(kigurumi.character.name));
        })
      });
      return false;
    }
  }).data("ui-autocomplete")._renderItem = function(ul, item) {
      return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name_with_twitter + "</a>").appendTo(ul);
  };

  $('#character_name').autocomplete({
    source: '/character/auto_complete.json',
    delay: 100,
    minLength: 1,
    focus: function(event, ui){
      $('#character_name').val(ui.item.name);
      if($('#work_name').val() === '') $('#work_name').val(ui.item.work.name);
      return false;
    },
    select: function(event, ui){
      $('#character_name').val(ui.item.name);
      if($('#work_name').val() === '') $('#work_name').val(ui.item.work.name);
      return false;
    }
  }).data("ui-autocomplete")._renderItem = function(ul, item) {
      return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name + "</a>").appendTo(ul);
  };

  $('#work_name').autocomplete({
    source: '/work/auto_complete.json',
    delay: 100,
    minLength: 1,
    focus: function(event, ui){
      $('#work_name').val(ui.item.name);
      return false;
    },
    select: function(event, ui){
      $('#work_name').val(ui.item.name);
      return false;
    }
  }).data("ui-autocomplete")._renderItem = function(ul, item) {
      return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name + "</a>").appendTo(ul);
    };
  });
  
  $('#previous_owner').autocomplete({
    source: '/person/auto_complete.json',
    delay: 100,
    minLength: 1,
    focus: function(event, ui){
      if($('#person_name').val() === '') $('#person_name').val(ui.item.name);
      return false;
    },
    select: function(event, ui){
      if($('#person_name').val() === '') $('#person_name').val(ui.item.name);
      return false;
    }
  }).data("ui-autocomplete")._renderItem = function(ul, item) {
    return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name_with_twitter + "</a>").appendTo(ul);
  };
  <%= render partial: 'factory_base' %>
  
  </script>
