<div class="col-md-8 col-lg-6 offset-md-2 offset-lg-0 mb-4">
  <div class="card card-body bg-light">
    <%= form_with model: @character, method: 'put', local: true, html: {autocomplete: 'off'} do |f| %>
      <%= f.hidden_field :id %>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>キャラクター名</b></label>
        <div class="col-sm-8">
          <%= @character.name %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>作品名</b></label>
        <div class="col-sm-8">
        <% if @character.work.present? %>
          <%= @character.work.name %>
        <% else %>
          オリジナル（<%= @character.kigurumis[0]&.owner&.name_with_twitter %>）
        <% end %>
      </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 control-label"><b>読みがな</b></label>
        <div class="col-sm-8">
          <%= f.text_field :yomigana,id: :yomigana, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.submit '保存', class: ['btn', 'btn-primary', 'col-sm-2', 'offset-sm-5'] %>
      </div>
    <% end %>
  </div>
</div>