<div class="col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header clickable" data-href="<%= person_path(person) %>">
      <%= person.name_with_twitter %>
    </h5>
    <div class="card-body">
        <p><%= "#{person.prefecture&.name}, #{person.age}" %></p>
        <div class="mb-2"><h5>所持している着ぐるみ</h5></div>
        <ul class="list-group list-group-flush">
          <% person.kigurumis.filter{|kig| kig.character.present?}.each do |kigurumi| %>
            <a href="<%= kigurumi_path(kigurumi) %>"class="list-group-item"><%= kigurumi.character&.name_with_work %></a>
          <% end %>
        </ul>
        <% if @add %>
          <a href="<%= new_kigurumi_path + "?name=#{person.name}&twitter=#{person.twitter}" %>" class="btn btn-primary float-right mt-2">追加</a>
        <% end %>
    </div>
  </div>
</div>