<%= render 'shared/header' %>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 alert alert-success"><%= @msg %></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <% if @num.in? (1..11).to_a %>
      <%= render partial: 'kigurumis/kigurumi_card', locals: {kigurumi: @kigurumi} %>
    <% end %>
    <% if @num.in? (12..16).to_a %>
      <%= render partial: 'person_card', locals: {person: @person, add: @add} %>
    <% end %>
    <% if @num.in? (17..17).to_a %>
      <%= render partial: 'work_card', locals: {work: @work} %>
    <% end %>
    <% if @num.in? (18..18).to_a %>
      <%= render partial: 'character_card', locals: {character: @character} %>
    <% end %>
  </div>
</div>